<% content_for :posts_content do %>
  <div class="container_layout">
    <span class="hint">posts#index action layout</span>
    <h1>Listing posts</h1>

    <table class="bordered">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>

      </tr>

      <%= render @posts %> 

    </table>

    <br />

    <%= link_to 'New Post', new_post_path %> |
    <%= link_to 'Home', root_path %>
  </div>
<% end %>
