<div class="container_layout">
  <span class="hint">books controller layout</span>
  <%= content_for?(:books_content) ? yield(:books_content) : yield %>
</div>
<% end %>

<%= render :template => "layouts/application" %>