<% content_for :content do %>
<div class="container_layout devise">
  <span class="hint">devise controller layout</span>
  <%= yield %>
</div>
<% end %>

<%= render :template => "layouts/application" %>